table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

td:first-child {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
